<?xml version="1.0" encoding="utf-8"?>
<SystemConfig>
  <EnglishLanguage>true</EnglishLanguage>
  <TargetMCU>
    <Index>6</Index>
  </TargetMCU>
  <CrystalIndex>0</CrystalIndex>
  <HexFile>E:\Git-category\HDSC\MCU-HDSC-SDK-HC32L136\TEST\examples-test\gpio_output\MDK\output\release\gpio_output.hex</HexFile>
  <Com></Com>
  <AutoNumber>
    <AutoNumberSelected>false</AutoNumberSelected>
    <AotuNumberStartAddr></AotuNumberStartAddr>
    <Length></Length>
    <StartNum></StartNum>
    <Interval></Interval>
    <CurrentNum></CurrentNum>
    <HistoryNum></HistoryNum>
  </AutoNumber>
  <ChipErase>true</ChipErase>
  <Erase>true</Erase>
  <BlankCheck>true</BlankCheck>
  <Program>true</Program>
  <Verify>true</Verify>
  <Encrypt>false</Encrypt>
  <Encrypt2>false</Encrypt2>
  <Disorder></Disorder>
</SystemConfig>